<h2>Index do usuário</h2>

Criar uma tabela com dados de usuários fiquiícios

<table class="table table-striped">
    <thead>
        <tr>
            <th>Login</th>
            <th>Nome</th>
            <th>Ativo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>gordao1234</td>
            <td>Gabriel Marcondes</td>
            <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                <label class="form-check-label" for="flexCheckChecked">
                    Ativo
                </label >
            </td>
        </tr>
        <tr>
            <td>vini7</td>
            <td>Vinicius</td>
            <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                <label class="form-check-label" for="flexCheckChecked">
                    Inativo
                </label>
            </td>
        </tr>
        <tr>
            <td>gusta69</td>
            <td>Gustavo</td>
            <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                <label class="form-check-label" for="flexCheckChecked">
                    Ativo
                </label >
            </td>
        </tr>
        <tr>
            <td>FernekoDeTodas</td>
            <td>Fernando Garcia</td>
            <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                <label class="form-check-label" for="flexCheckChecked">
                    Ativo
                </label >
            </td>
        </tr>
        <tr>
            <td>Tintim</td>
            <td>Arthur Américo</td>
            <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                <label class="form-check-label" for="flexCheckChecked">
                    Inativo
                </label>
            </td>
        </tr>
    </tbody>
</table>