<h2>Lista de fornecedores</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome do fornecedor</th>
            <th>CNPJ</th>
            <th>QUantidade de caminhões</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Washington</td>
            <td>01234560258</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Carlão</td>
            <td>020202464645</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Marcondes</td>
            <td>03030346546</td>
            <td>8</td>
        </tr>
    </tbody>
</table>

