<h2>Cadastrar produtos</h2>

<form action="" method="post">

    <div class="form-group">
        <label>Nome do produto</label>
        <input name="Nome" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label>Codigo</label>
        <input name="Codigo" typer="number" class="form-control" />
    </div>

    <div class="form-group">
        <label>Quantidade</label>
        <input name="Quantidade" typer="text" class="form-control" />
    </div>

    <button class="btn btn-success" type="submit">
        Salvar Produto
    </button>

</form>