<h2>Lista de produtos</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome do produto</th>
            <th>Codigo</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Banana</td>
            <td>010101</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Maçã</td>
            <td>020202</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Cookies</td>
            <td>030303</td>
            <td>21</td>
        </tr>
    </tbody>
</table>
